<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" style="color: white; padding: 5px;" href="/"><i class="fa fa-shopping-bag" aria-hidden="true" style="color: white !important;"></i>  Shop</a>
</nav>


<div class="container m-t-md" style="margin-top: 70px;">
	<div class="row">
				{{#each data}}
		<div class="col-xs-12 col-md-4">
			<article class="card animated fadeInLeft" style="border: 0px !important;">
				<img class="card-img-top img-responsive" src="{{this.img_url}}" alt="" />
				<div class="card-block" style="padding: 20px;">
					<center><h4 class="card-title">{{this.product_name}}</h4></center>
					<hr style="border-color: black !important;">
					<center><a href="/details" class="btn btn-dark" style="letter-spacing: 2px;">KNOW MORE</a></center>
				</div>
			</article>
		</div>
				{{/each}}