<style type="text/css">
.jumbotron{
  position: relative;
  z-index:-101;
}

#video-background { 
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}
	.navbar-nav .nav-item .nav-link{
		color:white; 
		background-color: transparent !important; 
		text-shadow: 1px 1px black;
	}
	.navbar-brand{
		text-shadow: 1px 1px white;
	}

	.navbar-brand:hover{
		background-color: transparent !important;
		text-shadow: 1px 1px white;
	}
	.navbar-nav .nav-item .nav-link:hover{
		color:white;  
		text-shadow: 1px 1px black;
		background-color: transparent !important;
		text-decoration: underline;
	}
</style>


<div class="jumbotron">
  <video id="video-background" preload {{!-- muted --}} autoplay loop>
    <source src="/vid.mp4" type="video/mp4">
  </video>
</div>