<center><h2 style="letter-spacing: 3px; margin-top: 70px;">ORDER REQUEST FORM</h2></center>
<hr style="border-color: black !important; margin: 15px 300px 0px 300px;">


<center><h1>{{msg}}</h1></center>
<div>
	<br> 
	<a href="/products" style="color: black; text-decoration: underline;"><center><h5 class="card-title">{{msg2}}</h5></center></a>
</div>